<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ $mcCSS :=  resources.Get "css/mailchimp.css" }}
    {{ $tufteCSS :=  resources.Get "css/tufte.css" }}
    {{ $latexCSS := resources.Get "css/latex.css" }}
    {{ $styleCSS := resources.Get "css/style.css" }}

    {{ $bundle := slice $mcCSS $tufteCSS $latexCSS $styleCSS | resources.Concat "css/bundle.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}">

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>

  <body>
    {{ partial "navbar.html" . }}

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}

  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
